

.container{
    position: relative;
    height: 100%;
    word-spacing: 22px;
    
    
}
.countDown{
    align-items: center;
    text-align: center;
    
}
.image{
    width: 100%;
    height: 100%;
   }
.title{
    position: absolute;
    bottom: 20%;
    left: 25%;
    
    
        font-family: Adamina, serif;
        font-size: 60px;
        font-weight: 600;
        color: rgb(219, 46, 46);
        text-transform: uppercase;
        font-style: oblique;
        text-decoration: none;
        line-height: 0em;
        letter-spacing: 4.1px;
        text-shadow: 2px 5px 5px rgba(0, 0, 0, 1);
        
    
    
}
.span1{
    color: yellow;
}
.span2{
    color: aliceblue;
}
.span3{
    color: rgb(219, 46, 46);
}
@media (max-width: 1600px) {
    .title{
        font-size: 50px;
    }
}
@media (max-width: 1400px) {
    .title{
        font-size: 45px;
    }
}

@media (max-width: 1100px) {
    .title{
        font-size: 30px;
    }
}

@media (max-width: 800px) {
    .title{
        font-size: 16px;
    }
}
@media (max-width: 500px) {
    .title{
        bottom: 18%;
        font-size: 14.5px;
        left: 25%;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
    .image{
        height: 40vh;
    }
}
@media (max-width: 400px) {
    .title{
        bottom: 18%;
        font-size: 13px;
        left: 25%;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
    .image{
        height: 40vh;
    }
}
