

#committee {
    background: url(photos/imagebg1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

#blur {
    background: rgba(212, 212, 212, 0.212); 
}

.writing {
    font-size: 16px;
    font-weight: 600;
}
.tc{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c52a1;
  }

  .title{
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    white 12%,
    black 19%,
    #ff1361 67%,
    white 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
    text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 100px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

  .firstItems{
      
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  .allItems{
      
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }
  
  .profile-card{
    position: relative;
    width: 220px;
    height: 220px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 55px;
    margin-top: 10%;
  }
  .profile-card:hover{
    border-radius: 10px;
    height: 260px;
  }
  .profile-card .img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
  }
  .profile-card:hover .img{
    transform: translateY(-60px);
  }
  .img img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
  }
  .profile-card:hover img{
    border-radius: 10px;
  }
  .caption{
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
  }
  .profile-card:hover .caption{
    opacity: 1;
  }
  .caption h3{
    font-size: 21px;
  }
  .caption p{
    font-size: 16px;
    color: #0c52a1;
    margin: 2px 0 9px 0;
  }
  .caption .social-links a{
    color: #333;
    margin-right: 8px;
    font-size: 21px;
    transition: .6s;
  }
  .social-links a:hover{
    color: #0c52a1;
  }

  .button{
    margin-top: 5%;
    margin-bottom: 20%;
  }

/* CSS */
.button-74 {
  background-color: rgba(212, 212, 212, 0.418);
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
  color: red;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

@media (max-width: 500px) {
    
  .title{
      font-size: 2rem;
  letter-spacing: 2.2px;
  margin-top:0;
  margin-bottom: 20px; 
  }
  .profile-card{
    border-radius: 10px;
    height: 260px;
    background: rgba(255, 255, 255, 0.726);
  }
  .profile-card .img{
    transform: translateY(-60px);
  }
  .caption{
    opacity: 1;
  }
  .profile-card img{
    border-radius: 10px;
  }
}