#hidden-div:hover {
    background-color: rgb(201, 46, 46);
}

#everything {
    background: url(photos/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#blur {
    background: rgba(212, 212, 212, 0.7); 
}

.writing {
    font-size: 16px;
    font-weight: 600;
}