.shadow {
  box-shadow: 0 10px 30px 0 rgba(67, 80, 98, 0.24),
    0 2px 4px 0 rgba(67, 80, 98, 0.1) !important;
  background-image: url("https://i.pinimg.com/550x/45/3f/47/453f471f037fd09822679f0187c64ff3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  z-index: -1;
}

.feature_item {
  transition: all 0.2s ease-in-out 0s !important;
}
.feature_item:hover {
  transform: translateY(-13px);
}

.cardStyle {
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out 0s !important;
  box-shadow: 0 10px 30px 0 rgba(67, 80, 98, 0.24),
    0 2px 4px 0 rgba(67, 80, 98, 0.1) !important;

  /* float: left; */
  /* position: relative; */
}

.titleStyle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cardStyle:hover {
  transform: translateY(-13px);
}

/* .cardStyle:hover .titleStyle {
  opacity: 1;
}

.cardStyle:hover .imgStyle {
  opacity: 0.3;
}

.imgStyle {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
} */



