.button {
  margin-top: 7px;
}
.first {
  padding-top: 50px;
  padding-bottom: 50px;
}
.image {
  background-image: url("./logo\ f&f.png");
  background-repeat: repeat;
  background-size: contain;
  padding: 0;
}
