.section{
    background: #fcfafa;
     color: #fff;
     height: 100%;
     width: 100%;
}

    /*font-family: 'Roboto', sans-serif;
  */
  
  /* NAVIGATION */
  

  .nav {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    padding: 20px 0;
    
    font-family: 'Roboto', sans-serif;
  }
  .logoContainer{
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: -1.5%;
    width: 100%;
    height: 60px;
    
}
.logo1{
  margin-left: 5%;
  width: 100%;
  margin-right: 40%;
}
.logoFF{
    width: 40%;
    height: 100%;
    
    margin-left: 0;
    
 }
 .logo2{
   margin-right: 5%;
   width: 100%;
 }
.logoAC{
  width: 40%;
  height: 100%;
 
}
  .button{
    color: transparent;
    border-color: transparent;
  }
  .bars{
    
    margin-left: 9%;
    height: 100%;
    transform: scale(3);
    background-color: transparent;
    color: black;
    font-size: 0.5rem;
    border: none;
    cursor: pointer;
    
    }  
    .bars:hover {
      color: rgb(224, 40, 40);
      background-color: transparent;
    }
    
  .nav ul {
    list-style: none;
    text-align: center;
    margin-bottom: -1%;
    margin-top: -1%;
  }
   .nav li {
    display: inline-block;
  }
   a {
    cursor: pointer;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
   a,
  a:after,
  a:before {
    transition: all .5s;
  }
  a:hover {
    color: rgb(224, 40, 40);
  }
  
  
  /* stroke */
  .nav ul li a {
    position: relative;
  }
  .nav ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
  }
  .nav ul li a:hover:after {
    width: 100%;
  }
  
  @media (max-width: 1000px) {
    a {
        font-weight: 600;
        font-size: 0.8rem;
        padding: 0;
    }
    .logoContainer{
      margin-top: -1%;
    }
    .logoAC{
      width: 50%;
      margin-right: 5%;
      
    }
    .logoFF{
      width: 50%;
      
    }
}
@media (max-width: 700px) {
  a {
      font-weight: 600;
      font-size: 0.6rem;
      padding: 0;
  }
  a:hover {
    color: rgb(224, 40, 40);
  }
  .logoAC{
    width: 70%;
    margin-right: 5%;
    
  }
  .logo2{
    margin-right: 5%;
    
  }
  .logoFF{
    width: 70%;
    
  }
}
  
@media (max-width: 500px) {
  .nav{
    padding: 0;
  }
  a:hover {
    color: rgb(224, 40, 40);
  }
  .logoContainer{
    margin-bottom: -1%;
  }
 .logoAC{
   width: 70%;
   margin-right: 5%;
   
 }
 .logo2{
   margin-right: 5%;
   
 }
 .bars{
  margin-right: 40%;
 }
 
}